n8n/workflows/news-pipeline-v4.json
{
  "name": "VoiceScribe — News Pipeline V4 (Resilient + Multi-Lang)",
  "nodes": [
    {
      "parameters": {},
      "id": "trig-manual",
      "name": "Manual Run",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        100
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "trig-cron-london",
      "name": "London Schedule (EN)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -400,
        200
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "trig-cron-rome",
      "name": "Rome & Paris Schedule (IT/FR)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -400,
        350
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 1 * * *"
            }
          ]
        }
      },
      "id": "trig-cron-dhaka",
      "name": "Dhaka Schedule (BN)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -400,
        650
      ]
    },
    {
      "parameters": {
        "jsCode": "const region = ($input.first() && $input.first().json && $input.first().json.region) || 'manual';\nreturn [\n  { json: { url: 'https://techcrunch.com', source: 'TechCrunch', region } },\n  { json: { url: 'https://venturebeat.com', source: 'VentureBeat', region } },\n  { json: { url: 'https://www.technologyreview.com', source: 'MIT Tech Review', region } }\n];"
      },
      "id": "src-list",
      "name": "Source list",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v2/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.url }}\",\n  \"formats\": [\"markdown\", \"links\"],\n  \"onlyMainContent\": true\n}",
        "options": {}
      },
      "id": "fc-index",
      "name": "Firecrawl: scrape index",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "FIRECRAWL_CRED",
          "name": "Firecrawl API Key"
        }
      },
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst source = $('Source list').first().json.source;\nconst links = (data.data && data.data.links) ? data.data.links : [];\nconst MAX_ARTICLES = 25;\n\nconst hash = (s) => {\n  let h = 0x811c9dc5;\n  for (let i = 0; i < s.length; i++) {\n    h ^= s.charCodeAt(i);\n    h = Math.imul(h, 0x01000193);\n  }\n  return (h >>> 0).toString(16);\n};\n\nreturn links.slice(0, MAX_ARTICLES).map(url => ({\n  json: { url, source_name: source, fingerprint: hash(url) }\n}));"
      },
      "id": "filter-urls",
      "name": "Filter article URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        200
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "batch-extract",
      "name": "Per article",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        800,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v2/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.url }}\",\n  \"formats\": [\"markdown\"],\n  \"onlyMainContent\": true\n}",
        "options": {}
      },
      "id": "fc-extract",
      "name": "Firecrawl: extract article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        950,
        100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "FIRECRAWL_CRED",
          "name": "Firecrawl API Key"
        }
      },
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO news_items (fingerprint, headline, body, source_name, article_url, language, scraped_at, body_hash, body_updated_at) VALUES ('{{ $node[\"Per article\"].json.fingerprint }}', '{{ $json.data.metadata.title.replace(/'/g, \"''\") }}', '{{ $json.data.markdown.replace(/'/g, \"''\") }}', '{{ $node[\"Per article\"].json.source_name }}', '{{ $node[\"Per article\"].json.url }}', 'en', NOW(), md5('{{ $json.data.markdown.replace(/'/g, \"''\") }}'), NOW()) ON CONFLICT (fingerprint) DO UPDATE SET scraped_at = NOW(), headline = EXCLUDED.headline, body = EXCLUDED.body, body_hash = EXCLUDED.body_hash, body_updated_at = CASE WHEN news_items.body_hash IS DISTINCT FROM EXCLUDED.body_hash THEN NOW() ELSE news_items.body_updated_at END;"
      },
      "id": "pg-save-raw",
      "name": "Postgres: Save raw article",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1200,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "PG_CRED",
          "name": "VoiceScribe Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT n.fingerprint, n.headline, n.body, n.source_name, n.llm_summary, n.body_updated_at, n.summarized_at, a.last_rank, a.last_aired_at, a.first_aired_at, (a.fingerprint IS NOT NULL) AS is_repeat, (a.fingerprint IS NOT NULL AND n.body_updated_at > a.last_aired_at) AS has_update, (n.llm_summary IS NULL OR n.llm_summary = '' OR n.summarized_at IS NULL  OR n.body_updated_at > n.summarized_at) AS needs_resummary FROM news_items n LEFT JOIN news_item_airings a ON a.fingerprint = n.fingerprint AND a.region = '{{ $('Source list').first().json.region }}' WHERE n.fingerprint IN ({{ $('Filter article URLs').all().map(i => \"'\" + i.json.fingerprint + \"'\").join(',') || \"''\" }}) AND (a.fingerprint IS NULL OR n.body_updated_at > a.last_aired_at) ORDER BY (a.fingerprint IS NULL) DESC, a.last_rank ASC NULLS LAST, n.scraped_at DESC;"
      },
      "id": "pg-read-raw",
      "name": "Postgres: Read raw articles",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1000,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "PG_CRED",
          "name": "VoiceScribe Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const MAX_ARTICLES = 10;\nconst MIN_ARTICLES = 7;\nconst items = $input.all();\n\nconst systemPrompt = [\n  `You are an autonomous AI news editor. Your task is to select the BEST articles for a daily briefing targeting busy tech professionals and business leaders.`,\n  ``,\n  `CRITICAL RULES — YOU MUST FOLLOW THESE EXACTLY:`,\n  `1. You MUST select a MINIMUM of ${MIN_ARTICLES} articles and a MAXIMUM of ${MAX_ARTICLES} articles.`,\n  `2. Selecting fewer than ${MIN_ARTICLES} or more than ${MAX_ARTICLES} is a VIOLATION. Do not do it.`,\n  `3. Rank by: business impact, novelty, and relevance to tech industry.`,\n  `4. Exclude: paywalled articles, listicles, press releases, and opinion pieces with no news value.`,\n  `5. PREFER articles where is_repeat is false (fresh in this region). Only include articles where is_repeat is true if has_update is true — those are genuine updates worth re-airing. NEVER select an article where is_repeat is true and has_update is false; those are stale repeats.`,\n  `6. Output ONLY valid JSON with exactly two keys:`,\n  `   - \"selected_fingerprints\": an array of EXACTLY ${MIN_ARTICLES}–${MAX_ARTICLES} fingerprint strings`,\n  `   - \"rationale\": one short sentence explaining the selection`\n].join('\\n');\n\nconst userContent = [\n  `Here are ${items.length} articles to evaluate. Select between ${MIN_ARTICLES} and ${MAX_ARTICLES} of them.`,\n  ``,\n  JSON.stringify(items.map(i => ({\n    fingerprint: i.json.fingerprint,\n    headline: i.json.headline,\n    source: i.json.source_name,\n    is_repeat: !!i.json.is_repeat,\n    has_update: !!i.json.has_update,\n    first_aired_at: i.json.first_aired_at || null\n  }))),\n  ``,\n  `REMINDER: Your response MUST contain between ${MIN_ARTICLES} and ${MAX_ARTICLES} fingerprints in selected_fingerprints. Not more, not fewer.`\n].join('\\n');\n\nconst payload = {\n  messages: [\n    { role: 'system', content: systemPrompt },\n    { role: 'user', content: userContent }\n  ],\n  temperature: 0,\n  response_format: { type: 'json_object' }\n};\nreturn [{ json: { llm_payload: payload, max_articles: MAX_ARTICLES, min_articles: MIN_ARTICLES } }];"
      },
      "id": "build-editor-payload",
      "name": "Build Editor Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.AZURE_OPENAI_ENDPOINT}}/openai/deployments/{{$env.AZURE_OPENAI_DEPLOYMENT}}/chat/completions?api-version={{$env.AZURE_OPENAI_API_VERSION}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.llm_payload }}",
        "options": {}
      },
      "id": "editor-rank",
      "name": "Editor: Select & Rank",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "AZURE_OPENAI_CRED",
          "name": "Azure OpenAI Key"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nlet rawContent = input.choices[0].message.content || '';\nrawContent = rawContent.replace(/^```(?:json)?\\n/i, '').replace(/\\n```$/i, '').trim();\n\nlet decision;\ntry {\n  decision = JSON.parse(rawContent);\n} catch (e) {\n  throw new Error(`Failed to parse LLM response as JSON. Raw content: ${JSON.stringify(rawContent)}`);\n}\nlet fps = decision.selected_fingerprints;\nif (!Array.isArray(fps)) fps = [];\n\nconst maxArticles = $('Build Editor Payload').first().json.max_articles || 10;\nconst orderedFps = fps.slice(0, maxArticles);\nconst rankByFp = new Map(orderedFps.map((fp, idx) => [fp, idx + 1]));\n\n// Preserve the editor's selection order so rank tracks LLM ranking.\nconst allItems = $('Postgres: Read raw articles').all();\nconst byFp = new Map(allItems.map(i => [i.json.fingerprint, i.json]));\nconst selected = orderedFps\n  .map(fp => byFp.get(fp))\n  .filter(Boolean);\n\nconst targetLength = Math.max(30, Math.floor(350 / Math.max(1, selected.length)));\nreturn selected.map(rawItem => ({\n  json: {\n    ...rawItem,\n    rank: rankByFp.get(rawItem.fingerprint),\n    target_length: targetLength\n  }\n}));"
      },
      "id": "filter-selected",
      "name": "Filter Selected",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "batch-summary",
      "name": "Per article for summary",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1600,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $json;\n\nlet firstAiredLabel = null;\nif (item.first_aired_at) {\n  try {\n    firstAiredLabel = new Date(item.first_aired_at).toISOString().slice(0, 10);\n  } catch (e) {\n    firstAiredLabel = null;\n  }\n}\n\nlet systemPrompt;\nif (item.is_repeat && item.has_update) {\n  systemPrompt = `Summarize this article in approximately ${item.target_length} words for a podcast anchor targeting business leaders. This story has been aired before in this region${firstAiredLabel ? ' (first reported ' + firstAiredLabel + ')' : ''}; the body has been updated since then. Open with \"Update on [topic]${firstAiredLabel ? ' (first reported ' + firstAiredLabel + ')' : ''}:\" and focus on what is genuinely new. Keep it concise, action-oriented, business-impact focused. Spoken prose, professional tone.`;\n} else if (item.is_repeat && !item.has_update) {\n  // Safety net — editor should not have selected this. Drop the item so\n  // it never reaches Azure OpenAI with a missing payload.\n  return [];\n} else {\n  systemPrompt = `Summarize this article in exactly ${item.target_length} words for a podcast anchor targeting business leaders. Keep it concise, action-oriented, and focus on the business impact. Spoken prose, professional tone.`;\n}\n\nconst payload = {\n  messages: [\n    { role: 'system', content: systemPrompt },\n    { role: 'user', content: `Headline: ${item.headline}\\n\\nContent: ${item.body}` }\n  ],\n  temperature: 0.7\n};\nreturn [{ json: { ...item, llm_payload: payload } }];"
      },
      "id": "summary-payload",
      "name": "Build Summary Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.AZURE_OPENAI_ENDPOINT}}/openai/deployments/{{$env.AZURE_OPENAI_DEPLOYMENT}}/chat/completions?api-version={{$env.AZURE_OPENAI_API_VERSION}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.llm_payload }}",
        "options": {}
      },
      "id": "llm-summarize",
      "name": "Azure OpenAI: Summarize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "AZURE_OPENAI_CRED",
          "name": "Azure OpenAI Key"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE news_items SET llm_summary = '{{ $json.choices[0].message.content.split(\"'\").join(\"''\") }}', summarized_at = NOW() WHERE fingerprint = '{{ $node[\"Build Summary Payload\"].json[\"fingerprint\"] }}'"
      },
      "id": "pg-update-summary",
      "name": "Postgres: Update summary",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2200,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "PG_CRED",
          "name": "VoiceScribe Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=WITH updated AS (UPDATE news_items SET summarized_at = NOW() WHERE fingerprint IN ({{ $('Filter Selected').all().map(i => \"'\" + i.json.fingerprint + \"'\").join(',') || \"''\" }}) RETURNING fingerprint, headline, llm_summary, source_name) SELECT fingerprint, headline, llm_summary, source_name FROM updated;"
      },
      "id": "pg-read-summaries",
      "name": "Postgres: Read summaries",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1800,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "PG_CRED",
          "name": "VoiceScribe Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Extract unique source names\nconst sources = [...new Set(items.map(i => i.json.source_name).filter(Boolean))];\n\n// Format sources list for each language\nfunction formatSources(list, lang) {\n  if (list.length === 0) {\n    if (lang === 'it') return 'TechCrunch e altre fonti principali';\n    if (lang === 'fr') return 'TechCrunch et d\\'autres sources majeures';\n    if (lang === 'bn') return 'TechCrunch এবং অন্যান্য শীর্ষ সংবাদ মাধ্যম';\n    return 'TechCrunch and other top tech outlets';\n  }\n  if (list.length === 1) return list[0];\n  \n  if (lang === 'it') return list.slice(0, -1).join(', ') + ' e ' + list[list.length - 1];\n  if (lang === 'fr') return list.slice(0, -1).join(', ') + ' et ' + list[list.length - 1];\n  if (lang === 'bn') return list.slice(0, -1).join(', ') + ' এবং ' + list[list.length - 1];\n  return list.slice(0, -1).join(', ') + ' and ' + list[list.length - 1];\n}\n\n// Get a short headlines preview list (e.g. up to 3 headlines)\nconst headlines = items.map(i => i.json.headline).filter(Boolean).slice(0, 3);\n\n// Localized summaries/previews of today's topics\nconst enTopics = headlines.length > 0 ? ' Topics discussed: ' + headlines.join('; ') : '';\nconst itTopics = headlines.length > 0 ? ' Argomenti trattati: ' + headlines.join('; ') : '';\nconst frTopics = headlines.length > 0 ? ' Sujets abordés : ' + headlines.join('; ') : '';\nconst bnTopics = headlines.length > 0 ? ' আলোচিত বিষয়সমূহ: ' + headlines.join('; ') : '';\n\n// Create description for each language\nconst desc_en = `Welcome to today's English Daily Briefing by NewScriber! Today's stories are curated from ${formatSources(sources, 'en')}. Join your virtual hosts Alex and Sam as they break down the latest updates.${enTopics}`;\nconst desc_it = `Benvenuti al bollettino quotidiano in italiano di NewScriber! Le storie di oggi sono curate da ${formatSources(sources, 'it')}. Unisciti ai nostri conduttori virtuali Marco e Sofia mentre analizzano le ultime notizie.${itTopics}`;\nconst desc_fr = `Bienvenue dans le briefing quotidien en français de NewScriber ! Les actualités d'aujourd'hui sont sélectionnées depuis ${formatSources(sources, 'fr')}. Rejoignez vos présentateurs virtuels Pierre et Marie pour décrypter le meilleur de la tech : ${frTopics}`;\nconst desc_bn = `নিউস্ক্রাইবার বাংলা ডেইলি ব্রিফিংয়ে আপনাদের স্বাগতম! আজকের খবরগুলো নেয়া হয়েছে ${formatSources(sources, 'bn')} থেকে। আমাদের এআই সঞ্চালক ফাহিম এবং নুসরাত আজকের পর্বে আলোচনা করছেন।${bnTopics}`;\n\nreturn [{\n  json: {\n    description_en: desc_en,\n    description_it: desc_it,\n    description_fr: desc_fr,\n    description_bn: desc_bn\n  }\n}];"
      },
      "id": "generate-descriptions",
      "name": "Generate Descriptions",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $('Postgres: Read summaries').all();\nconst script = items.map(i => i.json.llm_summary).join('\\n\\n---\\n\\n');\nconst targetLang = 'English';\nconst code = 'en';\nconst hour = new Date().getHours();\nlet timeRef = 'today';\nif (hour >= 5 && hour < 12) timeRef = 'this morning';\nelse if (hour >= 12 && hour < 17) timeRef = 'this afternoon';\nelse if (hour >= 17 && hour < 22) timeRef = 'tonight';\nconst systemPrompt = `You are a podcast scriptwriter for 'NewScriber'. Assemble these summaries into a 2-person conversation in ${targetLang}. The dialogue MUST be strictly between exactly two speakers: Alex (female host, warm and analytical) and Sam (male host, enthusiastic and tech-savvy). Ensure a gender-balanced conversation with alternating dialogue lines. Start the podcast intro by welcoming the listeners to NewScriber. Use the time reference '${timeRef}' in the intro to anchor the podcast in the present moment. Output the script as a raw JSON array of objects, with each object having 'speaker' and 'text' keys. Do NOT use markdown code blocks.`;\nreturn [{ json: { language: code, summaries: items.length, llm_payload: { messages: [{ role: 'system', content: systemPrompt }, { role: 'user', content: script }], temperature: 0.7 } } }];"
      },
      "id": "prep-en",
      "name": "Prepare (English)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const reviewNode = $('Review (English)').first().json;\nlet rawContent = reviewNode.choices[0].message.content || '';\nrawContent = rawContent.replace(/^```(?:json)?\\n/i, '').replace(/\\n```$/i, '').trim();\n\nlet englishScript;\ntry {\n  englishScript = JSON.parse(rawContent);\n} catch (e) {\n  throw new Error(`Failed to parse English script: ${e.message}`);\n}\n\nconst targetLang = 'Italian';\nconst code = 'it';\nconst systemPrompt = `You are a professional translator and script localizer for 'NewScriber'. Your task is to translate and localize the provided English 2-person podcast script into ${targetLang}.\n\nCRITICAL RULES:\n1. Keep the exact same dialogue structure, order of stories, turn-taking, and news content. Do not add, omit, or change any of the facts.\n2. Translate the dialogue text into natural, spoken, and professional ${targetLang}.\n3. Map the speakers exactly as follows:\n   - 'Alex' MUST be translated/mapped to 'Sofia' (female host, warm and analytical).\n   - 'Sam' MUST be translated/mapped to 'Marco' (male host, enthusiastic and tech-savvy).\n4. Output the result as a raw JSON object with a single key 'dialogues' containing an array of objects, with each object having 'speaker' and 'text' keys. Do NOT use markdown code blocks.`;\n\nconst userContent = JSON.stringify(englishScript);\nreturn [{ json: { language: code, llm_payload: { messages: [{ role: 'system', content: systemPrompt }, { role: 'user', content: userContent }], temperature: 0.3 } } }];"
      },
      "id": "prep-it",
      "name": "Prepare (Italian)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "const reviewNode = $('Review (English)').first().json;\nlet rawContent = reviewNode.choices[0].message.content || '';\nrawContent = rawContent.replace(/^```(?:json)?\\n/i, '').replace(/\\n```$/i, '').trim();\n\nlet englishScript;\ntry {\n  englishScript = JSON.parse(rawContent);\n} catch (e) {\n  throw new Error(`Failed to parse English script: ${e.message}`);\n}\n\nconst targetLang = 'French';\nconst code = 'fr';\nconst systemPrompt = `You are a professional translator and script localizer for 'NewScriber'. Your task is to translate and localize the provided English 2-person podcast script into ${targetLang}.\n\nCRITICAL RULES:\n1. Keep the exact same dialogue structure, order of stories, turn-taking, and news content. Do not add, omit, or change any of the facts.\n2. Translate the dialogue text into natural, spoken, and professional ${targetLang}.\n3. Map the speakers exactly as follows:\n   - 'Alex' MUST be translated/mapped to 'Marie' (female host, warm and analytical).\n   - 'Sam' MUST be translated/mapped to 'Pierre' (male host, enthusiastic and tech-savvy).\n4. Output the result as a raw JSON object with a single key 'dialogues' containing an array of objects, with each object having 'speaker' and 'text' keys. Do NOT use markdown code blocks.`;\n\nconst userContent = JSON.stringify(englishScript);\nreturn [{ json: { language: code, llm_payload: { messages: [{ role: 'system', content: systemPrompt }, { role: 'user', content: userContent }], temperature: 0.3 } } }];"
      },
      "id": "prep-fr",
      "name": "Prepare (French)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "const reviewNode = $('Review (English)').first().json;\nlet rawContent = reviewNode.choices[0].message.content || '';\nrawContent = rawContent.replace(/^```(?:json)?\\n/i, '').replace(/\\n```$/i, '').trim();\n\nlet englishScript;\ntry {\n  englishScript = JSON.parse(rawContent);\n} catch (e) {\n  throw new Error(`Failed to parse English script: ${e.message}`);\n}\n\nconst targetLang = 'Bangla';\nconst code = 'bn';\nconst systemPrompt = `You are a professional translator and script localizer for 'NewScriber'. Your task is to translate and localize the provided English 2-person podcast script into ${targetLang}.\n\nCRITICAL RULES:\n1. Keep the exact same dialogue structure, order of stories, turn-taking, and news content. Do not add, omit, or change any of the facts.\n2. Translate the dialogue text into natural, spoken, and professional ${targetLang}.\n3. Map the speakers exactly as follows:\n   - 'Alex' MUST be translated/mapped to 'Nusrat' (female host, warm and analytical).\n   - 'Sam' MUST be translated/mapped to 'Fahim' (male host, enthusiastic and tech-savvy).\n4. Output the result as a raw JSON object with a single key 'dialogues' containing an array of objects, with each object having 'speaker' and 'text' keys. Do NOT use markdown code blocks.`;\n\nconst userContent = JSON.stringify(englishScript);\nreturn [{ json: { language: code, llm_payload: { messages: [{ role: 'system', content: systemPrompt }, { role: 'user', content: userContent }], temperature: 0.3 } } }];"
      },
      "id": "prep-bn",
      "name": "Prepare (Bangla)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        1000
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.AZURE_OPENAI_ENDPOINT}}/openai/deployments/{{$env.AZURE_OPENAI_DEPLOYMENT}}/chat/completions?api-version={{$env.AZURE_OPENAI_API_VERSION}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.llm_payload }}",
        "options": {}
      },
      "id": "llm-assemble-en",
      "name": "Assemble (English)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "AZURE_OPENAI_CRED",
          "name": "Azure OpenAI Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.AZURE_OPENAI_ENDPOINT}}/openai/deployments/{{$env.AZURE_OPENAI_DEPLOYMENT}}/chat/completions?api-version={{$env.AZURE_OPENAI_API_VERSION}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.llm_payload }}",
        "options": {}
      },
      "id": "llm-assemble-it",
      "name": "Assemble (Italian)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        600
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "AZURE_OPENAI_CRED",
          "name": "Azure OpenAI Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.AZURE_OPENAI_ENDPOINT}}/openai/deployments/{{$env.AZURE_OPENAI_DEPLOYMENT}}/chat/completions?api-version={{$env.AZURE_OPENAI_API_VERSION}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.llm_payload }}",
        "options": {}
      },
      "id": "llm-assemble-fr",
      "name": "Assemble (French)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        800
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "AZURE_OPENAI_CRED",
          "name": "Azure OpenAI Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.AZURE_OPENAI_ENDPOINT}}/openai/deployments/{{$env.AZURE_OPENAI_DEPLOYMENT}}/chat/completions?api-version={{$env.AZURE_OPENAI_API_VERSION}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.llm_payload }}",
        "options": {}
      },
      "id": "llm-assemble-bn",
      "name": "Assemble (Bangla)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        1000
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "AZURE_OPENAI_CRED",
          "name": "Azure OpenAI Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.AZURE_OPENAI_ENDPOINT}}/openai/deployments/{{$env.AZURE_OPENAI_DEPLOYMENT}}/chat/completions?api-version={{$env.AZURE_OPENAI_API_VERSION}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    { \"role\": \"system\", \"content\": \"Review this script. Ensure it flows naturally. You MUST output a strictly valid JSON object with a single key 'dialogues' containing an array of objects, each with 'speaker' and 'text' keys. Do NOT wrap it in markdown block quotes.\" },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.choices[0].message.content) }} }\n  ],\n  \"temperature\": 0.3,\n  \"response_format\": { \"type\": \"json_object\" }\n}",
        "options": {}
      },
      "id": "review-en",
      "name": "Review (English)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "AZURE_OPENAI_CRED",
          "name": "Azure OpenAI Key"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.AZURE_OPENAI_ENDPOINT}}/openai/deployments/{{$env.AZURE_OPENAI_DEPLOYMENT}}/chat/completions?api-version={{$env.AZURE_OPENAI_API_VERSION}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    { \"role\": \"system\", \"content\": \"Review this script. Ensure it flows naturally. You MUST output a strictly valid JSON object with a single key 'dialogues' containing an array of objects, each with 'speaker' and 'text' keys. Do NOT wrap it in markdown block quotes.\" },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.choices[0].message.content) }} }\n  ],\n  \"temperature\": 0.3,\n  \"response_format\": { \"type\": \"json_object\" }\n}",
        "options": {}
      },
      "id": "review-it",
      "name": "Review (Italian)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        600
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "AZURE_OPENAI_CRED",
          "name": "Azure OpenAI Key"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.AZURE_OPENAI_ENDPOINT}}/openai/deployments/{{$env.AZURE_OPENAI_DEPLOYMENT}}/chat/completions?api-version={{$env.AZURE_OPENAI_API_VERSION}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    { \"role\": \"system\", \"content\": \"Review this script. Ensure it flows naturally. You MUST output a strictly valid JSON object with a single key 'dialogues' containing an array of objects, each with 'speaker' and 'text' keys. Do NOT wrap it in markdown block quotes.\" },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.choices[0].message.content) }} }\n  ],\n  \"temperature\": 0.3,\n  \"response_format\": { \"type\": \"json_object\" }\n}",
        "options": {}
      },
      "id": "review-fr",
      "name": "Review (French)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        800
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "AZURE_OPENAI_CRED",
          "name": "Azure OpenAI Key"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.AZURE_OPENAI_ENDPOINT}}/openai/deployments/{{$env.AZURE_OPENAI_DEPLOYMENT}}/chat/completions?api-version={{$env.AZURE_OPENAI_API_VERSION}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    { \"role\": \"system\", \"content\": \"Review this script. Ensure it flows naturally. You MUST output a strictly valid JSON object with a single key 'dialogues' containing an array of objects, each with 'speaker' and 'text' keys. Do NOT wrap it in markdown block quotes.\" },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.choices[0].message.content) }} }\n  ],\n  \"temperature\": 0.3,\n  \"response_format\": { \"type\": \"json_object\" }\n}",
        "options": {}
      },
      "id": "review-bn",
      "name": "Review (Bangla)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        1000
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "AZURE_OPENAI_CRED",
          "name": "Azure OpenAI Key"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO episodes (language, script, mp3_url, ogg_url, wav_url, description, tts_at, created_at, episode_number) VALUES ('en', '{{ $('Review (English)').first().json.choices[0].message.content.replace(/'/g, \"''\") }}', '{{ $json.mp3_url }}', '{{ $json.ogg_url }}', '{{ $json.wav_url }}', '{{ $('Generate Descriptions').first().json.description_en.replace(/'/g, \"''\") }}', NOW(), NOW(), {{ $('Postgres: Get next episode number').first().json.next_episode_number }});"
      },
      "id": "pg-save-en",
      "name": "Save (English)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2600,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "PG_CRED",
          "name": "VoiceScribe Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO episodes (language, script, mp3_url, ogg_url, wav_url, description, tts_at, created_at, episode_number) VALUES ('it', '{{ $('Review (Italian)').first().json.choices[0].message.content.replace(/'/g, \"''\") }}', '{{ $json.mp3_url }}', '{{ $json.ogg_url }}', '{{ $json.wav_url }}', '{{ $('Generate Descriptions').first().json.description_it.replace(/'/g, \"''\") }}', NOW(), NOW(), {{ $('Postgres: Get next episode number').first().json.next_episode_number }});"
      },
      "id": "pg-save-it",
      "name": "Save (Italian)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2600,
        600
      ],
      "credentials": {
        "postgres": {
          "id": "PG_CRED",
          "name": "VoiceScribe Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO episodes (language, script, mp3_url, ogg_url, wav_url, description, tts_at, created_at, episode_number) VALUES ('fr', '{{ $('Review (French)').first().json.choices[0].message.content.replace(/'/g, \"''\") }}', '{{ $json.mp3_url }}', '{{ $json.ogg_url }}', '{{ $json.wav_url }}', '{{ $('Generate Descriptions').first().json.description_fr.replace(/'/g, \"''\") }}', NOW(), NOW(), {{ $('Postgres: Get next episode number').first().json.next_episode_number }});"
      },
      "id": "pg-save-fr",
      "name": "Save (French)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2600,
        800
      ],
      "credentials": {
        "postgres": {
          "id": "PG_CRED",
          "name": "VoiceScribe Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO episodes (language, script, mp3_url, ogg_url, wav_url, description, tts_at, created_at, episode_number) VALUES ('bn', '{{ $('Review (Bangla)').first().json.choices[0].message.content.replace(/'/g, \"''\") }}', '{{ $json.mp3_url }}', '{{ $json.ogg_url }}', '{{ $json.wav_url }}', '{{ $('Generate Descriptions').first().json.description_bn.replace(/'/g, \"''\") }}', NOW(), NOW(), {{ $('Postgres: Get next episode number').first().json.next_episode_number }});"
      },
      "id": "pg-save-bn",
      "name": "Save (Bangla)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2600,
        1000
      ],
      "credentials": {
        "postgres": {
          "id": "PG_CRED",
          "name": "VoiceScribe Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "fc-success-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fc-guard",
      "name": "Firecrawl: success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://webhook-app:8080/tts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { script: JSON.parse($json.choices[0].message.content.replace(/```json/gi, '').replace(/```/g, '').trim()).dialogues, language: 'en', filename: 'episode_en_' + $now.toFormat('yyyyMMdd_HHmm') + '.wav' } }}",
        "options": {}
      },
      "id": "fcbfee6b",
      "name": "TTS (English)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2600,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://webhook-app:8080/tts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { script: JSON.parse($json.choices[0].message.content.replace(/```json/gi, '').replace(/```/g, '').trim()).dialogues, language: 'it', filename: 'episode_it_' + $now.toFormat('yyyyMMdd_HHmm') + '.wav' } }}",
        "options": {}
      },
      "id": "2880ca67",
      "name": "TTS (Italian)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2600,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://webhook-app:8080/tts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { script: JSON.parse($json.choices[0].message.content.replace(/```json/gi, '').replace(/```/g, '').trim()).dialogues, language: 'fr', filename: 'episode_fr_' + $now.toFormat('yyyyMMdd_HHmm') + '.wav' } }}",
        "options": {}
      },
      "id": "b52799b9",
      "name": "TTS (French)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2600,
        800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://webhook-app:8080/tts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { script: JSON.parse($json.choices[0].message.content.replace(/```json/gi, '').replace(/```/g, '').trim()).dialogues, language: 'bn', filename: 'episode_bn_' + $now.toFormat('yyyyMMdd_HHmm') + '.wav' } }}",
        "options": {}
      },
      "id": "3bccbdb5",
      "name": "TTS (Bangla)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2600,
        1000
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(MAX(episode_number), 0) + 1 AS next_episode_number FROM episodes;"
      },
      "id": "pg-get-next-episode-num",
      "name": "Postgres: Get next episode number",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        900,
        350
      ],
      "credentials": {
        "postgres": {
          "id": "PG_CRED",
          "name": "VoiceScribe Postgres"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://webhook-app:8080/rss/generate",
        "options": {}
      },
      "id": "pg-trigger-rss-generate",
      "name": "Regenerate RSS Feeds",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2850,
        700
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT n.fingerprint, n.body_hash, n.body_updated_at, a.last_rank, a.last_aired_at, a.first_aired_at FROM news_items n LEFT JOIN news_item_airings a ON a.fingerprint = n.fingerprint AND a.region = '{{ $('Source list').first().json.region }}' WHERE n.fingerprint IN ({{ $input.all().map(i => \"'\" + i.json.fingerprint + \"'\").join(',') || \"''\" }});"
      },
      "id": "pg-check-existing",
      "name": "Postgres: Check existing",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        400,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "PG_CRED",
          "name": "VoiceScribe Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allUrls = $('Filter article URLs').all();\nconst existingRows = $('Postgres: Check existing').all();\nconst existingByFp = new Map(existingRows.map(r => [r.json.fingerprint, r.json]));\n\n// Top-rank articles in THIS region are eligible for re-scrape so we can\n// detect body updates. Cooldown prevents hammering Firecrawl on the same URL.\nconst TOP_RANK = 3;\nconst COOLDOWN_HOURS = 2;\n\nreturn allUrls.filter(u => {\n  const existing = existingByFp.get(u.json.fingerprint);\n  if (!existing) return true;\n  if (existing.last_rank == null || existing.last_rank > TOP_RANK) return false;\n  const lastHit = existing.last_aired_at ? new Date(existing.last_aired_at) : null;\n  if (lastHit && (Date.now() - lastHit.getTime()) < COOLDOWN_HOURS * 3600 * 1000) return false;\n  return true;\n});"
      },
      "id": "filter-uncached",
      "name": "Filter uncached URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "summary-needs-resummary-check",
              "leftValue": "={{ $json.needs_resummary }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "summary-cached-check",
      "name": "Summary Cached?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1750,
        150
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { region: 'london' } }];"
      },
      "id": "set-region-manual",
      "name": "Set Region (Manual)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -300,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { region: 'london' } }];"
      },
      "id": "set-region-london",
      "name": "Set Region (London)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -300,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { region: 'rome_paris' } }];"
      },
      "id": "set-region-rome",
      "name": "Set Region (Rome/Paris)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -300,
        350
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { region: 'dhaka' } }];"
      },
      "id": "set-region-dhaka",
      "name": "Set Region (Dhaka)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -300,
        650
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO news_item_airings (fingerprint, region, last_rank, last_aired_at, first_aired_at, aired_count) SELECT v.fp, '{{ $('Source list').first().json.region }}', v.r, NOW(), NOW(), 1 FROM (VALUES {{ $('Filter Selected').all().map(i => `('${i.json.fingerprint}', ${i.json.rank})`).join(',') }}) AS v(fp, r) ON CONFLICT (fingerprint, region) DO UPDATE SET last_rank = EXCLUDED.last_rank, last_aired_at = NOW(), aired_count = news_item_airings.aired_count + 1;"
      },
      "id": "pg-persist-airings",
      "name": "Postgres: Persist airings",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2750,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "PG_CRED",
          "name": "VoiceScribe Postgres"
        }
      }
    }
  ],
  "connections": {
    "Manual Run": {
      "main": [
        [
          {
            "node": "Set Region (Manual)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "London Schedule (EN)": {
      "main": [
        [
          {
            "node": "Set Region (London)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rome & Paris Schedule (IT/FR)": {
      "main": [
        [
          {
            "node": "Set Region (Rome/Paris)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dhaka Schedule (BN)": {
      "main": [
        [
          {
            "node": "Set Region (Dhaka)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Source list": {
      "main": [
        [
          {
            "node": "Firecrawl: scrape index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl: scrape index": {
      "main": [
        [
          {
            "node": "Filter article URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter article URLs": {
      "main": [
        [
          {
            "node": "Postgres: Check existing",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter uncached URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Per article": {
      "main": [
        [
          {
            "node": "Postgres: Get next episode number",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Firecrawl: extract article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Get next episode number": {
      "main": [
        [
          {
            "node": "Postgres: Read raw articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl: extract article": {
      "main": [
        [
          {
            "node": "Firecrawl: success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Save raw article": {
      "main": [
        [
          {
            "node": "Per article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Read raw articles": {
      "main": [
        [
          {
            "node": "Build Editor Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Editor Payload": {
      "main": [
        [
          {
            "node": "Editor: Select & Rank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Editor: Select & Rank": {
      "main": [
        [
          {
            "node": "Filter Selected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Selected": {
      "main": [
        [
          {
            "node": "Per article for summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Per article for summary": {
      "main": [
        [
          {
            "node": "Postgres: Read summaries",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Summary Cached?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary Payload": {
      "main": [
        [
          {
            "node": "Azure OpenAI: Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI: Summarize": {
      "main": [
        [
          {
            "node": "Postgres: Update summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Update summary": {
      "main": [
        [
          {
            "node": "Per article for summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Read summaries": {
      "main": [
        [
          {
            "node": "Generate Descriptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Descriptions": {
      "main": [
        [
          {
            "node": "Prepare (English)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare (English)": {
      "main": [
        [
          {
            "node": "Assemble (English)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble (English)": {
      "main": [
        [
          {
            "node": "Review (English)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review (English)": {
      "main": [
        [
          {
            "node": "TTS (English)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare (Italian)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare (French)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare (Bangla)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare (Italian)": {
      "main": [
        [
          {
            "node": "Assemble (Italian)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble (Italian)": {
      "main": [
        [
          {
            "node": "Review (Italian)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review (Italian)": {
      "main": [
        [
          {
            "node": "TTS (Italian)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare (French)": {
      "main": [
        [
          {
            "node": "Assemble (French)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble (French)": {
      "main": [
        [
          {
            "node": "Review (French)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review (French)": {
      "main": [
        [
          {
            "node": "TTS (French)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare (Bangla)": {
      "main": [
        [
          {
            "node": "Assemble (Bangla)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble (Bangla)": {
      "main": [
        [
          {
            "node": "Review (Bangla)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review (Bangla)": {
      "main": [
        [
          {
            "node": "TTS (Bangla)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl: success?": {
      "main": [
        [
          {
            "node": "Postgres: Save raw article",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Per article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS (English)": {
      "main": [
        [
          {
            "node": "Save (English)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS (Italian)": {
      "main": [
        [
          {
            "node": "Save (Italian)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS (French)": {
      "main": [
        [
          {
            "node": "Save (French)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS (Bangla)": {
      "main": [
        [
          {
            "node": "Save (Bangla)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save (English)": {
      "main": [
        [
          {
            "node": "Postgres: Persist airings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save (Italian)": {
      "main": [
        [
          {
            "node": "Regenerate RSS Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save (French)": {
      "main": [
        [
          {
            "node": "Regenerate RSS Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save (Bangla)": {
      "main": [
        [
          {
            "node": "Regenerate RSS Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Check existing": {
      "main": [
        [
          {
            "node": "Filter uncached URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter uncached URLs": {
      "main": [
        [
          {
            "node": "Per article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary Cached?": {
      "main": [
        [
          {
            "node": "Build Summary Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Per article for summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Region (Manual)": {
      "main": [
        [
          {
            "node": "Source list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Region (London)": {
      "main": [
        [
          {
            "node": "Source list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Region (Rome/Paris)": {
      "main": [
        [
          {
            "node": "Source list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Region (Dhaka)": {
      "main": [
        [
          {
            "node": "Source list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Persist airings": {
      "main": [
        [
          {
            "node": "Regenerate RSS Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "UTC"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "VoiceScribeV4"
}
