n8n/workflows/news-pipeline-v4.json
{
  "name": "VoiceScribe — News Pipeline V4 (Resilient + Multi-Lang)",
  "nodes": [
    {
      "parameters": {},
      "id": "trig-manual",
      "name": "Manual Run",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        100
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 5,11,17 * * *"
            }
          ]
        }
      },
      "id": "trig-cron-london",
      "name": "London Schedule (EN)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -400,
        200
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 4,10,16 * * *"
            }
          ]
        }
      },
      "id": "trig-cron-rome",
      "name": "Rome Schedule (IT)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -400,
        350
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 4,10,16 * * *"
            }
          ]
        }
      },
      "id": "trig-cron-paris",
      "name": "Paris Schedule (FR)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -400,
        500
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 0,6,12 * * *"
            }
          ]
        }
      },
      "id": "trig-cron-dhaka",
      "name": "Dhaka Schedule (BN)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -400,
        650
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { url: 'https://techcrunch.com', source: 'TechCrunch' } },\n  { json: { url: 'https://venturebeat.com', source: 'VentureBeat' } },\n  { json: { url: 'https://www.technologyreview.com', source: 'MIT Tech Review' } }\n];"
      },
      "id": "src-list",
      "name": "Source list",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v2/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.url }}\",\n  \"formats\": [\"markdown\", \"links\"],\n  \"onlyMainContent\": true\n}",
        "options": {}
      },
      "id": "fc-index",
      "name": "Firecrawl: scrape index",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "FIRECRAWL_CRED",
          "name": "Firecrawl API Key"
        }
      },
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst source = $('Source list').first().json.source;\nconst links = (data.data && data.data.links) ? data.data.links : [];\nconst MAX_ARTICLES = 25;\n\nconst hash = (s) => {\n  let h = 0x811c9dc5;\n  for (let i = 0; i < s.length; i++) {\n    h ^= s.charCodeAt(i);\n    h = Math.imul(h, 0x01000193);\n  }\n  return (h >>> 0).toString(16);\n};\n\nreturn links.slice(0, MAX_ARTICLES).map(url => ({\n  json: { url, source_name: source, fingerprint: hash(url) }\n}));"
      },
      "id": "filter-urls",
      "name": "Filter article URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        200
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "batch-extract",
      "name": "Per article",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        800,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v2/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.url }}\",\n  \"formats\": [\"markdown\"],\n  \"onlyMainContent\": true\n}",
        "options": {}
      },
      "id": "fc-extract",
      "name": "Firecrawl: extract article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        950,
        100
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "FIRECRAWL_CRED",
          "name": "Firecrawl API Key"
        }
      },
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO news_items (fingerprint, headline, body, source_name, article_url, language, scraped_at) VALUES ('{{ $node[\"Per article\"].json.fingerprint }}', '{{ $json.data.metadata.title.replace(/'/g, \"''\") }}', '{{ $json.data.markdown.replace(/'/g, \"''\") }}', '{{ $node[\"Per article\"].json.source_name }}', '{{ $node[\"Per article\"].json.url }}', 'en', NOW()) ON CONFLICT (fingerprint) DO NOTHING;"
      },
      "id": "pg-save-raw",
      "name": "Postgres: Save raw article",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1200,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "PG_CRED",
          "name": "VoiceScribe Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT fingerprint, headline, body, source_name FROM news_items WHERE summarized_at IS NULL ORDER BY id DESC LIMIT 30;"
      },
      "id": "pg-read-raw",
      "name": "Postgres: Read raw articles",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1000,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "PG_CRED",
          "name": "VoiceScribe Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const MAX_ARTICLES = 10;\nconst MIN_ARTICLES = 7;\nconst items = $input.all();\n\nconst systemPrompt = [\n  `You are an autonomous AI news editor. Your task is to select the BEST articles for a daily briefing targeting busy tech professionals and business leaders.`,\n  ``,\n  `CRITICAL RULES — YOU MUST FOLLOW THESE EXACTLY:`,\n  `1. You MUST select a MINIMUM of ${MIN_ARTICLES} articles and a MAXIMUM of ${MAX_ARTICLES} articles.`,\n  `2. Selecting fewer than ${MIN_ARTICLES} or more than ${MAX_ARTICLES} is a VIOLATION. Do not do it.`,\n  `3. Rank by: business impact, novelty, and relevance to tech industry.`,\n  `4. Exclude: paywalled articles, listicles, press releases, and opinion pieces with no news value.`,\n  `5. Output ONLY valid JSON with exactly two keys:`,\n  `   - \"selected_fingerprints\": an array of EXACTLY ${MIN_ARTICLES}–${MAX_ARTICLES} fingerprint strings`,\n  `   - \"rationale\": one short sentence explaining the selection`\n].join('\\n');\n\nconst userContent = [\n  `Here are ${items.length} articles to evaluate. Select between ${MIN_ARTICLES} and ${MAX_ARTICLES} of them.`,\n  ``,\n  JSON.stringify(items.map(i => ({ fingerprint: i.json.fingerprint, headline: i.json.headline, source: i.json.source_name }))),\n  ``,\n  `REMINDER: Your response MUST contain between ${MIN_ARTICLES} and ${MAX_ARTICLES} fingerprints in selected_fingerprints. Not more, not fewer.`\n].join('\\n');\n\nconst payload = {\n  messages: [\n    { role: 'system', content: systemPrompt },\n    { role: 'user', content: userContent }\n  ],\n  temperature: 0,\n  response_format: { type: 'json_object' }\n};\nreturn [{ json: { llm_payload: payload, max_articles: MAX_ARTICLES, min_articles: MIN_ARTICLES } }];"
      },
      "id": "build-editor-payload",
      "name": "Build Editor Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.AZURE_OPENAI_ENDPOINT}}/openai/deployments/{{$env.AZURE_OPENAI_DEPLOYMENT}}/chat/completions?api-version={{$env.AZURE_OPENAI_API_VERSION}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.llm_payload }}",
        "options": {}
      },
      "id": "editor-rank",
      "name": "Editor: Select & Rank",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "AZURE_OPENAI_CRED",
          "name": "Azure OpenAI Key"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nlet rawContent = input.choices[0].message.content || '';\nrawContent = rawContent.replace(/^```(?:json)?\\n/i, '').replace(/\\n```$/i, '').trim();\n\nlet decision;\ntry {\n  decision = JSON.parse(rawContent);\n} catch (e) {\n  throw new Error(`Failed to parse LLM response as JSON. Raw content: ${JSON.stringify(rawContent)}`);\n}\nlet fps = decision.selected_fingerprints;\nif (!Array.isArray(fps)) fps = [];\n\nconst maxArticles = $('Build Editor Payload').first().json.max_articles || 10;\nconst selectedFps = new Set(fps.slice(0, maxArticles));\n\n// Fetch the original items from Postgres node to get the full bodies back\nconst allItems = $('Postgres: Read raw articles').all();\nconst selected = allItems.filter(i => i.json.fingerprint && selectedFps.has(i.json.fingerprint));\n\nconst capped = selected.slice(0, maxArticles);\nconst targetLength = Math.max(30, Math.floor(350 / Math.max(1, capped.length)));\nreturn capped.map(i => ({ json: { ...i.json, target_length: targetLength } }));"
      },
      "id": "filter-selected",
      "name": "Filter Selected",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "batch-summary",
      "name": "Per article for summary",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1600,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $json;\nconst payload = {\n  messages: [\n    { role: 'system', content: `Summarize this article in exactly ${item.target_length} words for a podcast anchor targeting business leaders. Keep it concise, action-oriented, and focus on the business impact. Spoken prose, professional tone.` },\n    { role: 'user', content: `Headline: ${item.headline}\\n\\nContent: ${item.body}` }\n  ],\n  temperature: 0.7\n};\nreturn [{ json: { ...item, llm_payload: payload } }];"
      },
      "id": "summary-payload",
      "name": "Build Summary Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.AZURE_OPENAI_ENDPOINT}}/openai/deployments/{{$env.AZURE_OPENAI_DEPLOYMENT}}/chat/completions?api-version={{$env.AZURE_OPENAI_API_VERSION}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.llm_payload }}",
        "options": {}
      },
      "id": "llm-summarize",
      "name": "Azure OpenAI: Summarize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "AZURE_OPENAI_CRED",
          "name": "Azure OpenAI Key"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE news_items SET llm_summary = '{{ $json.choices[0].message.content.split(\"'\").join(\"''\") }}', summarized_at = NOW() WHERE fingerprint = '{{ $node[\"Build Summary Payload\"].json[\"fingerprint\"] }}'"
      },
      "id": "pg-update-summary",
      "name": "Postgres: Update summary",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2200,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "PG_CRED",
          "name": "VoiceScribe Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT fingerprint, headline, llm_summary, source_name FROM news_items WHERE llm_summary IS NOT NULL AND summarized_at >= NOW() - INTERVAL '2 hours' ORDER BY summarized_at DESC;"
      },
      "id": "pg-read-summaries",
      "name": "Postgres: Read summaries",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1800,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "PG_CRED",
          "name": "VoiceScribe Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst script = items.map(i => i.json.llm_summary).join('\\n\\n---\\n\\n');\nconst targetLang = 'English';\nconst code = 'en';\nconst hour = new Date().getHours();\nlet timeRef = 'today';\nif (hour >= 5 && hour < 12) timeRef = 'this morning';\nelse if (hour >= 12 && hour < 17) timeRef = 'this afternoon';\nelse if (hour >= 17 && hour < 22) timeRef = 'tonight';\nconst systemPrompt = `You are a podcast scriptwriter for 'NewScriber'. Assemble these summaries into a 2-person conversation (Alex and Sam) in ${targetLang}. Start the podcast intro by welcoming the listeners to NewScriber. Use the time reference '${timeRef}' in the intro to anchor the podcast in the present moment. Output the script as a raw JSON array of objects, with each object having 'speaker' and 'text' keys. Do NOT use markdown code blocks.`;\nreturn [{ json: { language: code, summaries: items.length, llm_payload: { messages: [{ role: 'system', content: systemPrompt }, { role: 'user', content: script }], temperature: 0.7 } } }];"
      },
      "id": "prep-en",
      "name": "Prepare (English)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst script = items.map(i => i.json.llm_summary).join('\\n\\n---\\n\\n');\nconst targetLang = 'Italian';\nconst code = 'it';\nconst hour = new Date().getHours();\nlet timeRef = 'oggi';\nif (hour >= 5 && hour < 12) timeRef = 'questa mattina';\nelse if (hour >= 12 && hour < 17) timeRef = 'questo pomeriggio';\nelse if (hour >= 17 && hour < 22) timeRef = 'stasera';\nconst systemPrompt = `You are a podcast scriptwriter for 'NewScriber'. Assemble these summaries into a 2-person conversation (Marco and Sofia) in ${targetLang}. Start the podcast intro by welcoming the listeners to NewScriber. Use the time reference '${timeRef}' in the intro to anchor the podcast in the present moment. Output the script as a raw JSON array of objects, with each object having 'speaker' and 'text' keys. Do NOT use markdown code blocks.`;\nreturn [{ json: { language: code, summaries: items.length, llm_payload: { messages: [{ role: 'system', content: systemPrompt }, { role: 'user', content: script }], temperature: 0.7 } } }];"
      },
      "id": "prep-it",
      "name": "Prepare (Italian)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst script = items.map(i => i.json.llm_summary).join('\\n\\n---\\n\\n');\nconst targetLang = 'French';\nconst code = 'fr';\nconst hour = new Date().getHours();\nlet timeRef = 'aujourd\\'hui';\nif (hour >= 5 && hour < 12) timeRef = 'ce matin';\nelse if (hour >= 12 && hour < 17) timeRef = 'cet après-midi';\nelse if (hour >= 17 && hour < 22) timeRef = 'ce soir';\nconst systemPrompt = `You are a podcast scriptwriter for 'NewScriber'. Assemble these summaries into a 2-person conversation (Pierre and Marie) in ${targetLang}. Start the podcast intro by welcoming the listeners to NewScriber. Use the time reference '${timeRef}' in the intro to anchor the podcast in the present moment. Output the script as a raw JSON array of objects, with each object having 'speaker' and 'text' keys. Do NOT use markdown code blocks.`;\nreturn [{ json: { language: code, summaries: items.length, llm_payload: { messages: [{ role: 'system', content: systemPrompt }, { role: 'user', content: script }], temperature: 0.7 } } }];"
      },
      "id": "prep-fr",
      "name": "Prepare (French)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst script = items.map(i => i.json.llm_summary).join('\\n\\n---\\n\\n');\nconst targetLang = 'Bangla';\nconst code = 'bn';\nconst hour = new Date().getHours();\nlet timeRef = 'আজ'; // today\nif (hour >= 5 && hour < 12) timeRef = 'আজ সকালে'; // this morning\nelse if (hour >= 12 && hour < 17) timeRef = 'আজ দুপুরে'; // this afternoon\nelse if (hour >= 17 && hour < 22) timeRef = 'আজ সন্ধ্যায়'; // tonight\nconst systemPrompt = `You are a podcast scriptwriter for 'NewScriber'. Assemble these summaries into a 2-person conversation (Fahim and Nusrat) in ${targetLang}. Start the podcast intro by welcoming the listeners to NewScriber. Use the time reference '${timeRef}' in the intro to anchor the podcast in the present moment. Output the script as a raw JSON array of objects, with each object having 'speaker' and 'text' keys. Do NOT use markdown code blocks.`;\nreturn [{ json: { language: code, summaries: items.length, llm_payload: { messages: [{ role: 'system', content: systemPrompt }, { role: 'user', content: script }], temperature: 0.7 } } }];"
      },
      "id": "prep-bn",
      "name": "Prepare (Bangla)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        1000
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.AZURE_OPENAI_ENDPOINT}}/openai/deployments/{{$env.AZURE_OPENAI_DEPLOYMENT}}/chat/completions?api-version={{$env.AZURE_OPENAI_API_VERSION}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.llm_payload }}",
        "options": {}
      },
      "id": "llm-assemble-en",
      "name": "Assemble (English)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "AZURE_OPENAI_CRED",
          "name": "Azure OpenAI Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.AZURE_OPENAI_ENDPOINT}}/openai/deployments/{{$env.AZURE_OPENAI_DEPLOYMENT}}/chat/completions?api-version={{$env.AZURE_OPENAI_API_VERSION}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.llm_payload }}",
        "options": {}
      },
      "id": "llm-assemble-it",
      "name": "Assemble (Italian)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        600
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "AZURE_OPENAI_CRED",
          "name": "Azure OpenAI Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.AZURE_OPENAI_ENDPOINT}}/openai/deployments/{{$env.AZURE_OPENAI_DEPLOYMENT}}/chat/completions?api-version={{$env.AZURE_OPENAI_API_VERSION}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.llm_payload }}",
        "options": {}
      },
      "id": "llm-assemble-fr",
      "name": "Assemble (French)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        800
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "AZURE_OPENAI_CRED",
          "name": "Azure OpenAI Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.AZURE_OPENAI_ENDPOINT}}/openai/deployments/{{$env.AZURE_OPENAI_DEPLOYMENT}}/chat/completions?api-version={{$env.AZURE_OPENAI_API_VERSION}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.llm_payload }}",
        "options": {}
      },
      "id": "llm-assemble-bn",
      "name": "Assemble (Bangla)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        1000
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "AZURE_OPENAI_CRED",
          "name": "Azure OpenAI Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.AZURE_OPENAI_ENDPOINT}}/openai/deployments/{{$env.AZURE_OPENAI_DEPLOYMENT}}/chat/completions?api-version={{$env.AZURE_OPENAI_API_VERSION}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    { \"role\": \"system\", \"content\": \"Review this script. Ensure it flows naturally. You MUST output a strictly valid JSON object with a single key 'dialogues' containing an array of objects, each with 'speaker' and 'text' keys. Do NOT wrap it in markdown block quotes.\" },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.choices[0].message.content) }} }\n  ],\n  \"temperature\": 0.3,\n  \"response_format\": { \"type\": \"json_object\" }\n}",
        "options": {}
      },
      "id": "review-en",
      "name": "Review (English)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "AZURE_OPENAI_CRED",
          "name": "Azure OpenAI Key"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.AZURE_OPENAI_ENDPOINT}}/openai/deployments/{{$env.AZURE_OPENAI_DEPLOYMENT}}/chat/completions?api-version={{$env.AZURE_OPENAI_API_VERSION}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    { \"role\": \"system\", \"content\": \"Review this script. Ensure it flows naturally. You MUST output a strictly valid JSON object with a single key 'dialogues' containing an array of objects, each with 'speaker' and 'text' keys. Do NOT wrap it in markdown block quotes.\" },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.choices[0].message.content) }} }\n  ],\n  \"temperature\": 0.3,\n  \"response_format\": { \"type\": \"json_object\" }\n}",
        "options": {}
      },
      "id": "review-it",
      "name": "Review (Italian)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        600
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "AZURE_OPENAI_CRED",
          "name": "Azure OpenAI Key"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.AZURE_OPENAI_ENDPOINT}}/openai/deployments/{{$env.AZURE_OPENAI_DEPLOYMENT}}/chat/completions?api-version={{$env.AZURE_OPENAI_API_VERSION}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    { \"role\": \"system\", \"content\": \"Review this script. Ensure it flows naturally. You MUST output a strictly valid JSON object with a single key 'dialogues' containing an array of objects, each with 'speaker' and 'text' keys. Do NOT wrap it in markdown block quotes.\" },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.choices[0].message.content) }} }\n  ],\n  \"temperature\": 0.3,\n  \"response_format\": { \"type\": \"json_object\" }\n}",
        "options": {}
      },
      "id": "review-fr",
      "name": "Review (French)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        800
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "AZURE_OPENAI_CRED",
          "name": "Azure OpenAI Key"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.AZURE_OPENAI_ENDPOINT}}/openai/deployments/{{$env.AZURE_OPENAI_DEPLOYMENT}}/chat/completions?api-version={{$env.AZURE_OPENAI_API_VERSION}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    { \"role\": \"system\", \"content\": \"Review this script. Ensure it flows naturally. You MUST output a strictly valid JSON object with a single key 'dialogues' containing an array of objects, each with 'speaker' and 'text' keys. Do NOT wrap it in markdown block quotes.\" },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.choices[0].message.content) }} }\n  ],\n  \"temperature\": 0.3,\n  \"response_format\": { \"type\": \"json_object\" }\n}",
        "options": {}
      },
      "id": "review-bn",
      "name": "Review (Bangla)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        1000
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "AZURE_OPENAI_CRED",
          "name": "Azure OpenAI Key"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO episodes (language, script, mp3_url, ogg_url, wav_url, tts_at, created_at, episode_number) VALUES ('en', '{{ $node[\"Review (English)\"].json.choices[0].message.content.replace(/'/g, \"''\") }}', '{{ $json.mp3_url }}', '{{ $json.ogg_url }}', '{{ $json.wav_url }}', NOW(), NOW(), {{ $node[\"Postgres: Get next episode number\"].json.next_episode_number }});"
      },
      "id": "pg-save-en",
      "name": "Save (English)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2600,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "PG_CRED",
          "name": "VoiceScribe Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO episodes (language, script, mp3_url, ogg_url, wav_url, tts_at, created_at, episode_number) VALUES ('it', '{{ $node[\"Review (Italian)\"].json.choices[0].message.content.replace(/'/g, \"''\") }}', '{{ $json.mp3_url }}', '{{ $json.ogg_url }}', '{{ $json.wav_url }}', NOW(), NOW(), {{ $node[\"Postgres: Get next episode number\"].json.next_episode_number }});"
      },
      "id": "pg-save-it",
      "name": "Save (Italian)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2600,
        600
      ],
      "credentials": {
        "postgres": {
          "id": "PG_CRED",
          "name": "VoiceScribe Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO episodes (language, script, mp3_url, ogg_url, wav_url, tts_at, created_at, episode_number) VALUES ('fr', '{{ $node[\"Review (French)\"].json.choices[0].message.content.replace(/'/g, \"''\") }}', '{{ $json.mp3_url }}', '{{ $json.ogg_url }}', '{{ $json.wav_url }}', NOW(), NOW(), {{ $node[\"Postgres: Get next episode number\"].json.next_episode_number }});"
      },
      "id": "pg-save-fr",
      "name": "Save (French)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2600,
        800
      ],
      "credentials": {
        "postgres": {
          "id": "PG_CRED",
          "name": "VoiceScribe Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO episodes (language, script, mp3_url, ogg_url, wav_url, tts_at, created_at, episode_number) VALUES ('bn', '{{ $node[\"Review (Bangla)\"].json.choices[0].message.content.replace(/'/g, \"''\") }}', '{{ $json.mp3_url }}', '{{ $json.ogg_url }}', '{{ $json.wav_url }}', NOW(), NOW(), {{ $node[\"Postgres: Get next episode number\"].json.next_episode_number }});"
      },
      "id": "pg-save-bn",
      "name": "Save (Bangla)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2600,
        1000
      ],
      "credentials": {
        "postgres": {
          "id": "PG_CRED",
          "name": "VoiceScribe Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "fc-success-check",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fc-guard",
      "name": "Firecrawl: success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://webhook-app:8080/tts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { script: JSON.parse($json.choices[0].message.content).dialogues, language: 'en', filename: 'episode_en_' + $now.toFormat('yyyyMMdd_HHmm') + '.wav' } }}",
        "options": {}
      },
      "id": "fcbfee6b",
      "name": "TTS (English)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2600,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://webhook-app:8080/tts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { script: JSON.parse($json.choices[0].message.content).dialogues, language: 'it', filename: 'episode_it_' + $now.toFormat('yyyyMMdd_HHmm') + '.wav' } }}",
        "options": {}
      },
      "id": "2880ca67",
      "name": "TTS (Italian)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2600,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://webhook-app:8080/tts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { script: JSON.parse($json.choices[0].message.content).dialogues, language: 'fr', filename: 'episode_fr_' + $now.toFormat('yyyyMMdd_HHmm') + '.wav' } }}",
        "options": {}
      },
      "id": "b52799b9",
      "name": "TTS (French)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2600,
        800
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://webhook-app:8080/tts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { script: JSON.parse($json.choices[0].message.content).dialogues, language: 'bn', filename: 'episode_bn_' + $now.toFormat('yyyyMMdd_HHmm') + '.wav' } }}",
        "options": {}
      },
      "id": "3bccbdb5",
      "name": "TTS (Bangla)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2600,
        1000
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(MAX(episode_number), 0) + 1 AS next_episode_number FROM episodes;"
      },
      "id": "pg-get-next-episode-num",
      "name": "Postgres: Get next episode number",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        900,
        350
      ],
      "credentials": {
        "postgres": {
          "id": "PG_CRED",
          "name": "VoiceScribe Postgres"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://webhook-app:8080/rss/generate",
        "options": {}
      },
      "id": "pg-trigger-rss-generate",
      "name": "Regenerate RSS Feeds",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2850,
        700
      ]
    }
  ],
  "connections": {
    "Manual Run": {
      "main": [
        [
          {
            "node": "Source list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "London Schedule (EN)": {
      "main": [
        [
          {
            "node": "Source list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rome Schedule (IT)": {
      "main": [
        [
          {
            "node": "Source list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paris Schedule (FR)": {
      "main": [
        [
          {
            "node": "Source list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dhaka Schedule (BN)": {
      "main": [
        [
          {
            "node": "Source list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Source list": {
      "main": [
        [
          {
            "node": "Firecrawl: scrape index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl: scrape index": {
      "main": [
        [
          {
            "node": "Filter article URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter article URLs": {
      "main": [
        [
          {
            "node": "Per article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Per article": {
      "main": [
        [
          {
            "node": "Postgres: Get next episode number",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Firecrawl: extract article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Get next episode number": {
      "main": [
        [
          {
            "node": "Postgres: Read raw articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl: extract article": {
      "main": [
        [
          {
            "node": "Firecrawl: success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Save raw article": {
      "main": [
        [
          {
            "node": "Per article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Read raw articles": {
      "main": [
        [
          {
            "node": "Build Editor Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Editor Payload": {
      "main": [
        [
          {
            "node": "Editor: Select & Rank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Editor: Select & Rank": {
      "main": [
        [
          {
            "node": "Filter Selected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Selected": {
      "main": [
        [
          {
            "node": "Per article for summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Per article for summary": {
      "main": [
        [
          {
            "node": "Postgres: Read summaries",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Summary Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary Payload": {
      "main": [
        [
          {
            "node": "Azure OpenAI: Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI: Summarize": {
      "main": [
        [
          {
            "node": "Postgres: Update summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Update summary": {
      "main": [
        [
          {
            "node": "Per article for summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Read summaries": {
      "main": [
        [
          {
            "node": "Prepare (English)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare (Italian)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare (French)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare (Bangla)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare (English)": {
      "main": [
        [
          {
            "node": "Assemble (English)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble (English)": {
      "main": [
        [
          {
            "node": "Review (English)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review (English)": {
      "main": [
        [
          {
            "node": "TTS (English)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare (Italian)": {
      "main": [
        [
          {
            "node": "Assemble (Italian)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble (Italian)": {
      "main": [
        [
          {
            "node": "Review (Italian)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review (Italian)": {
      "main": [
        [
          {
            "node": "TTS (Italian)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare (French)": {
      "main": [
        [
          {
            "node": "Assemble (French)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble (French)": {
      "main": [
        [
          {
            "node": "Review (French)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review (French)": {
      "main": [
        [
          {
            "node": "TTS (French)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare (Bangla)": {
      "main": [
        [
          {
            "node": "Assemble (Bangla)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble (Bangla)": {
      "main": [
        [
          {
            "node": "Review (Bangla)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Review (Bangla)": {
      "main": [
        [
          {
            "node": "TTS (Bangla)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl: success?": {
      "main": [
        [
          {
            "node": "Postgres: Save raw article",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Per article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS (English)": {
      "main": [
        [
          {
            "node": "Save (English)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS (Italian)": {
      "main": [
        [
          {
            "node": "Save (Italian)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS (French)": {
      "main": [
        [
          {
            "node": "Save (French)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TTS (Bangla)": {
      "main": [
        [
          {
            "node": "Save (Bangla)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save (English)": {
      "main": [
        [
          {
            "node": "Regenerate RSS Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save (Italian)": {
      "main": [
        [
          {
            "node": "Regenerate RSS Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save (French)": {
      "main": [
        [
          {
            "node": "Regenerate RSS Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save (Bangla)": {
      "main": [
        [
          {
            "node": "Regenerate RSS Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "UTC"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "VoiceScribeV4"
}