n8n/workflows/tts-only-pipeline.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7,13,19 * * *"
            }
          ]
        },
        "options": {
          "timezone": "Europe/London"
        }
      },
      "id": "0e99873a-2a13-48",
      "name": "London Schedule (EN)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -200,
        0
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7,13,19 * * *"
            }
          ]
        },
        "options": {
          "timezone": "Europe/Rome"
        }
      },
      "id": "010cc69d-4db5-4e",
      "name": "Rome Schedule (IT)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -200,
        150
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7,13,19 * * *"
            }
          ]
        },
        "options": {
          "timezone": "Europe/Paris"
        }
      },
      "id": "1eb6cd23-bd5a-46",
      "name": "Paris Schedule (FR)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -200,
        300
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7,13,19 * * *"
            }
          ]
        },
        "options": {
          "timezone": "Asia/Dhaka"
        }
      },
      "id": "cc155648-3d03-47",
      "name": "Dhaka Schedule (BN)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -200,
        450
      ]
    },
    {
      "parameters": {},
      "id": "79b1f3cf-2efd-4e",
      "name": "Manual Run",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -200,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "return [ { json: { force: true } } ];"
      },
      "id": "26d91965-d4f7-4a",
      "name": "Configuration",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT id, language, script FROM episodes WHERE ({{ $json.force ? 'TRUE' : 'tts_at IS NULL' }}) ORDER BY created_at DESC LIMIT 10;"
      },
      "id": "daab0b85-49a5-46",
      "name": "Postgres: Read Latest Scripts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        450,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "PG_CRED",
          "name": "VoiceScribe Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst targetLang = 'en';\n\nreturn items.filter(item => {\n  const lang = item.json.language;\n  return lang && lang.toLowerCase().substring(0,2) === targetLang.toLowerCase().substring(0,2);\n}).map(item => {\n  const json = item.json;\n  const filename = `episode_en_${json.id}_${new Date().getTime()}.wav`;\n  let dialogues = [];\n  try {\n    const parsed = JSON.parse(json.script);\n    dialogues = parsed.dialogues || [];\n  } catch(e) {\n    const parts = json.script.split('\\n\\n');\n    for (const part of parts) {\n      if (part.trim().length > 0) {\n        dialogues.push({ speaker: 'Host', text: part.trim() });\n      }\n    }\n  }\n  return {\n    json: {\n      script: dialogues,\n      language: 'en',\n      filename: filename,\n      episode_id: json.id\n    }\n  };\n});"
      },
      "id": "2db05167-5780-4b",
      "name": "Build Payload (English)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://webhook-app:8080/tts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "retryOnFail": true,
          "maxTries": 3,
          "waitBetweenTries": 5000
        }
      },
      "id": "56ebe82b-2277-45",
      "name": "Generate TTS (English)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE episodes SET tts_at = NOW(), mp3_url = '{{ $json.mp3_url }}', ogg_url = '{{ $json.ogg_url }}', wav_url = '{{ $json.wav_url }}' WHERE id = {{ $('Build Payload (English)').item.json.episode_id }};"
      },
      "id": "4870d78b-f540-4d",
      "name": "Update Episode (English)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1250,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "PG_CRED",
          "name": "VoiceScribe Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst targetLang = 'it';\n\nreturn items.filter(item => {\n  const lang = item.json.language;\n  return lang && lang.toLowerCase().substring(0,2) === targetLang.toLowerCase().substring(0,2);\n}).map(item => {\n  const json = item.json;\n  const filename = `episode_it_${json.id}_${new Date().getTime()}.wav`;\n  let dialogues = [];\n  try {\n    const parsed = JSON.parse(json.script);\n    dialogues = parsed.dialogues || [];\n  } catch(e) {\n    const parts = json.script.split('\\n\\n');\n    for (const part of parts) {\n      if (part.trim().length > 0) {\n        dialogues.push({ speaker: 'Host', text: part.trim() });\n      }\n    }\n  }\n  return {\n    json: {\n      script: dialogues,\n      language: 'it',\n      filename: filename,\n      episode_id: json.id\n    }\n  };\n});"
      },
      "id": "3dad995c-a5d4-48",
      "name": "Build Payload (Italian)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        350
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://webhook-app:8080/tts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "retryOnFail": true,
          "maxTries": 3,
          "waitBetweenTries": 5000
        }
      },
      "id": "f5acb07d-61b9-49",
      "name": "Generate TTS (Italian)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        350
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE episodes SET tts_at = NOW(), mp3_url = '{{ $json.mp3_url }}', ogg_url = '{{ $json.ogg_url }}', wav_url = '{{ $json.wav_url }}' WHERE id = {{ $('Build Payload (Italian)').item.json.episode_id }};"
      },
      "id": "cd83e92e-cc6f-4a",
      "name": "Update Episode (Italian)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1250,
        350
      ],
      "credentials": {
        "postgres": {
          "id": "PG_CRED",
          "name": "VoiceScribe Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst targetLang = 'fr';\n\nreturn items.filter(item => {\n  const lang = item.json.language;\n  return lang && lang.toLowerCase().substring(0,2) === targetLang.toLowerCase().substring(0,2);\n}).map(item => {\n  const json = item.json;\n  const filename = `episode_fr_${json.id}_${new Date().getTime()}.wav`;\n  let dialogues = [];\n  try {\n    const parsed = JSON.parse(json.script);\n    dialogues = parsed.dialogues || [];\n  } catch(e) {\n    const parts = json.script.split('\\n\\n');\n    for (const part of parts) {\n      if (part.trim().length > 0) {\n        dialogues.push({ speaker: 'Host', text: part.trim() });\n      }\n    }\n  }\n  return {\n    json: {\n      script: dialogues,\n      language: 'fr',\n      filename: filename,\n      episode_id: json.id\n    }\n  };\n});"
      },
      "id": "1c82afa6-15e8-41",
      "name": "Build Payload (French)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://webhook-app:8080/tts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "retryOnFail": true,
          "maxTries": 3,
          "waitBetweenTries": 5000
        }
      },
      "id": "b27ee375-9273-48",
      "name": "Generate TTS (French)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        600
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE episodes SET tts_at = NOW(), mp3_url = '{{ $json.mp3_url }}', ogg_url = '{{ $json.ogg_url }}', wav_url = '{{ $json.wav_url }}' WHERE id = {{ $('Build Payload (French)').item.json.episode_id }};"
      },
      "id": "273af360-b3fa-4d",
      "name": "Update Episode (French)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1250,
        600
      ],
      "credentials": {
        "postgres": {
          "id": "PG_CRED",
          "name": "VoiceScribe Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst targetLang = 'bn';\n\nreturn items.filter(item => {\n  const lang = item.json.language;\n  return lang && lang.toLowerCase().substring(0,2) === targetLang.toLowerCase().substring(0,2);\n}).map(item => {\n  const json = item.json;\n  const filename = `episode_bn_${json.id}_${new Date().getTime()}.wav`;\n  let dialogues = [];\n  try {\n    const parsed = JSON.parse(json.script);\n    dialogues = parsed.dialogues || [];\n  } catch(e) {\n    const parts = json.script.split('\\n\\n');\n    for (const part of parts) {\n      if (part.trim().length > 0) {\n        dialogues.push({ speaker: 'Host', text: part.trim() });\n      }\n    }\n  }\n  return {\n    json: {\n      script: dialogues,\n      language: 'bn',\n      filename: filename,\n      episode_id: json.id\n    }\n  };\n});"
      },
      "id": "fe4728bd-8c11-45",
      "name": "Build Payload (Bangla)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        850
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://webhook-app:8080/tts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "retryOnFail": true,
          "maxTries": 3,
          "waitBetweenTries": 5000
        }
      },
      "id": "e0ee2efa-d68f-4b",
      "name": "Generate TTS (Bangla)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        850
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE episodes SET tts_at = NOW(), mp3_url = '{{ $json.mp3_url }}', ogg_url = '{{ $json.ogg_url }}', wav_url = '{{ $json.wav_url }}' WHERE id = {{ $('Build Payload (Bangla)').item.json.episode_id }};"
      },
      "id": "e2eb65ec-81c0-49",
      "name": "Update Episode (Bangla)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1250,
        850
      ],
      "credentials": {
        "postgres": {
          "id": "PG_CRED",
          "name": "VoiceScribe Postgres"
        }
      }
    }
  ],
  "connections": {
    "London Schedule (EN)": {
      "main": [
        [
          {
            "node": "Postgres: Read Latest Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rome Schedule (IT)": {
      "main": [
        [
          {
            "node": "Postgres: Read Latest Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paris Schedule (FR)": {
      "main": [
        [
          {
            "node": "Postgres: Read Latest Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dhaka Schedule (BN)": {
      "main": [
        [
          {
            "node": "Postgres: Read Latest Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Run": {
      "main": [
        [
          {
            "node": "Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration": {
      "main": [
        [
          {
            "node": "Postgres: Read Latest Scripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Read Latest Scripts": {
      "main": [
        [
          {
            "node": "Build Payload (English)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Payload (Italian)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Payload (French)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Payload (Bangla)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payload (English)": {
      "main": [
        [
          {
            "node": "Generate TTS (English)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate TTS (English)": {
      "main": [
        [
          {
            "node": "Update Episode (English)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payload (Italian)": {
      "main": [
        [
          {
            "node": "Generate TTS (Italian)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate TTS (Italian)": {
      "main": [
        [
          {
            "node": "Update Episode (Italian)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payload (French)": {
      "main": [
        [
          {
            "node": "Generate TTS (French)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate TTS (French)": {
      "main": [
        [
          {
            "node": "Update Episode (French)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payload (Bangla)": {
      "main": [
        [
          {
            "node": "Generate TTS (Bangla)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate TTS (Bangla)": {
      "main": [
        [
          {
            "node": "Update Episode (Bangla)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "VoiceScribeAudioEngine",
  "name": "VoiceScribe - Audio Render Engine",
  "active": true
}